<html>
    <head>
        <title>Home</title>

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styledonation.css'%}">
    </head>
    <body  style="background-image: url(static/img/donor1.jpg); background-size: 100% 100%;" >
        <h1>SaveLife</h1>
        <div class="search">
            <a name="ref" href="donor">Home</a>
            <a name="ref" href="about">About</a>
            <a name="ref" href="contact">Contact</a>
          </div>
    <h1 class="don">Fill up the After Death Donation Form </h1>

        <div class="RegistrationBox">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p> Name</p>
        <input type="text" name="name" placeholder="Enter Full Name" required/> <br>
        <p>Contact Number</p>
        <input type="text" name="num" placeholder="Mobile" required/> <br>
        <p>NID Number</p>
        <input type="text" name="nid" placeholder="Enter your NID number" required/> <br>

        <p>Select Donate Organ</p>
        <input type="radio" name="Organ" value="liver">liver<br>
        <input type="radio" name="Organ" value="Cornea">Cornea<br>
        <input type="radio" name="Organ" value="Kidney">Kidney<br>
        <input type="radio" name="Organ" value="Pancreas">Pancreas<br>
        <input type="radio" name="Organ" value="Heart">Heart<br>
        <input type="radio" name="Organ" value="blood">Blood<br>
        <input type="radio" name="Organ" value="lung">lung<br>
        <input type="radio" name="Organ" value="Heart valve">Heart valve<br>
        <input type="radio" name="Organ" value="Thymus">Thymus<br>
        <div class="RegistrationBox2">
        <p>Provide Medical Certificate:</p>
        <input type="file" name="file" required> <br>
        <p>Signature:</p>
        <input type="file" name="file2" required> <br><br><br>
        <button type="submit">Submit</button>
        </div>
    </form>
        </div>
</body>

</html>