<html>
    <head>
        <title>Home</title>

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styledonation.css'%}">
    </head>
    <body  style="background-image: url(static/img/donor1.jpg); background-size: 100% 100%;" >
        <h1>SaveLife</h1>
        <div class="search">
            <a name="ref" href="donor">Home</a>
            <a name="ref" href="about">About</a>
            <a name="ref" href="contact">Contact</a>
          </div>
        <P class="don">Donation</P>
        <div class="RegistrationBox">
        <form method="post" style="align : center" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="db">
                <p ><b>Name</b></p>
            <input type="text" name="name" placeholder="Enter Full Name" required/>
                <p><b>Email</b></p>
            <input type="email" name="email" placeholder="Enter Email Address" required/>
                <p><b>Address</b></p>
            <input type="text" name="address" placeholder="Address" required/>
                <p><b>Contact Number</b></p>
            <input type="text" name="contactNum" placeholder="Mobile" required/>
                <p><b>National ID Number</b></p>
            <input type="text" name="nid" placeholder="National ID" required/>
                <P><b>Blood Group</b></P>
                <select name="bGroup" required><option>O+</option><option>O-</option><option>A+</option><option>A-</option><option>B+</option><option>B-</option><option>AB+</option><option>AB-</option></select>
            </div><div class="RegistrationBox2">
            <P><b>Select Organ</b></P>
            <select name="organ" required><option>Kidney</option> <option>Liver</option> <option>Eye</option></select>
            <P><b>Provide Your Medical Verification File</b></P>
            <input type="file" name="file" required>
            <br><br><br>
            <button type="submit">Confirm</button>
            </div>
        </form>
        </div>
    </body>
</html>