<html>
<head>
<title> Registration From </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styleregistration.css'%}">
</head>
<body style="background-image: url(static/img/pic11.jpg);" >
<div class="RegistrationBox">
    <img  src="static/img/loginavatar1.png" class="avatar">
    <h1>Register Here</h1>

    {% for msg in messages %}

    <p class="text-warning"> <b><i>{{msg}}</i></b> </p>


    {% endfor %}

    <form method="post">
        {% csrf_token %}
        <p >Name</p>
        <input type="text" name="username" placeholder="Enter Full Name" required/>
        <p>Email</p>
        <input type="email" name="email" placeholder="Enter Email Address" required/>
        <p>Password</p>
        <input type="password" name="password" placeholder="Password" required/>
        <p>Confirm Password</p>
        <input type="password" name="confirmPassword" placeholder="Confirm Password" required/>
        <p>Address</p>
        <input type="text" name="address" placeholder="Address" required/>
        <div class="RegistrationBox2">
        <p>Contact Number</p>
        <input type="text" name="contactNum" placeholder="Mobile" required/>
        <p>National ID Number</p>
        <input type="text" name="nid" placeholder="National ID" required/>
        <P>Blood Group</P>
        <input type="text" name="bGroup" placeholder="Blood Group" required/>
        <P>Identity</P>
        <select name="identity" required><option>Patient</option> <option>Donor</option> <option>Volunteer</option></select>
        <button type="submit">Create Account</button>

        <p><a href="../">Already have an account? Login now.</a>
        </p>
        </div>
    </form>
</div>
</body>
</html>
