body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .dk {
  display: inline-block;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.dk:hover {background-color: #3e8e41}

.dk:active {
  background-color: #3e8e41;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}




.lout{
    text-align: right;
    margin-right: 20px;
    margin-top: -110px;
}

.vol{
    text-align: center;
    font-size: 26px;
    margin-top: -40px;
}

.lin{
    text-align: center;
    margin-left: 950px;
    margin-top: 150px;
}


 .logout {
  display: inline-block;
  padding: 10px 25px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #8B0000;
  border: none;
  border-radius: 10px;
}

.logout:hover {background-color: #A52A2A}

.logout:active {
  background-color: #8B0000;
  transform: translateY(2px);
}


  .search {
    overflow: hidden;
    background-color: #e9e9e9;
  }

  .search a[name="ref"] {
    float: left;
    display: block;
    color: rgb(77, 51, 51);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .search a[name = "ref"]:hover {
    background-color: #ddd;
    color: black;
  }

  .search a[name = "ref"].active {
    background-color: #5a5f63;
    color: rgb(184, 212, 245);
  }

  .search .search-container {
    float: right;
  }

  .search input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }

  .search .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .search .search-container button:hover {
    background: #ccc;
  }

  @media screen and (max-width: 600px) {
    .search .search-container {
      float: none;
    }
    .search a, .search input[type=text], .search .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .search input[type=text] {
      border: 1px solid #ccc;
    }
  }